<div class="book-detail-container">
  <div class="book-detail-card" *ngIf="book">
    <img [src]="book.cover_image_url" alt="{{ book.title }}" class="book-cover">
    <div class="book-details">
      <h2>{{ book.title }}</h2>
      <p><strong>Author:</strong> {{ book.author }}</p>
      <p><strong>Published Date:</strong> {{ book.published_date }}</p>
      <p><strong>ISBN:</strong> {{ book.isbn }}</p>
      <p>{{ book.description }}</p>
      <button class="btn-borrow-request" *ngIf="isLoggedIn" (click)="borrowRequest()">Borrow Request</button>
    </div>
  </div>
  <div *ngIf="!book">
    <p>Loading book details...</p>
  </div>
</div>